.pressed {
    font-family: 'Qwigley', cursive;
    font-size: 10vh;
    color: var(--peach);
    /* margin-right: 5vh;;
    margin-left: 40px; */
    letter-spacing: 3px;
}


.nav-container {
background-color: var(--dark-green);
}

.icons {
    margin-left: 5vh;
}

/* #user {
    margin-right: 3vh;
}

#favorites{
    margin-right: 3vh;
} */ 